#hero {
    h1 {
        font-family: "Creepster", sans-serif;
        // font: normal 60px "Creepster", sans-serif;
    }
    h2 {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        // color: white;
    }
}
